@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  /* width: 100%; */
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 10px;
  scroll-behavior: smooth;
}

.nav {
  height: 5rem;
  width: 100vw;
  background-color: #ffc061;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 5rem;
}

.logo {
  margin: 0 8rem;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

.logo:hover {
  color: black;
}

.litems {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0 3rem;
}

.litems:hover {
  color: black;
}

.welcome {
  height: 94vh;
  width: 100vw;
  background-color: #ffc061;
  display: grid;
  place-content: center;
}

.intro {
  font-size: 7rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 5rem 0;
}

.funtxt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  height: 0.15rem;
  width: 9rem;
}

.pun {
  font-size: 3rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  padding: 0 3rem;
}

.modal-bg {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  display: none;
  place-content: center;
  z-index: 1;
}

.modal {
  height: 35rem;
  width: 60rem;
  background-color: white;
  display: grid;
  place-content: center;
  position: relative;
  /* border-radius: 2rem; */
  z-index: 2;
}

.modal-logo {
  background: url("GitHub.png") no-repeat center;
  background-size: cover;
  height: 5rem;
  width: 5rem;
  border-radius: 5rem;
  margin: 0 auto;
}

.input-grid {
  display: grid;
  place-content: center;
}

.modal-msg {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.modal-name {
  height: 3rem;
  width: 20rem;
  border: 1px solid black;
  margin: 4rem 0 2rem 0;
  text-align: center;
  border-radius: 2rem;
}

.modal-message {
  width: 20rem;
  height: 8rem;
  border: 1px solid black;
  border-radius: 1rem;
  text-align: center;
}

.close {
  position: absolute;
  top: 1%;
  right: 3%;
  font-size: 4rem;
  transform: rotate(45deg);
  cursor: pointer;
}

.about {
  height: 125vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2fr 3fr 3fr;
  grid-template-rows: 3fr 6fr;
  grid-template-areas:
    "z1 abouth abouth"
    "aboutd aboutd photo";
}

.z1 {
  /* height: 100%; */
  /* width: 30rem; */
  grid-area: z1;
  background-color: black;
  display: grid;
  place-content: center;
}

.z1 span {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 15rem;
  font-weight: 800;
}

.about-me {
  grid-area: abouth;
  display: grid;
  place-content: center;
  /* height: 100%;
  width: 100%; */
}

.about-heading {
  font-family: "Quicksand", sans-serif;
  font-size: 8rem;
  text-align: center;
  font-weight: 400;
}

.para {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  text-align: center;
  font-weight: 200;
  padding: 3rem 20rem;
}

.para span {
  font-family: "Quicksand", sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

.about-description {
  grid-area: aboutd;
  background-color: #ff6161;
  display: grid;
  place-content: center;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  padding: 0 15rem 0 8rem;
  /* width: auto; */
}

.about-description span {
  font-size: 2.5rem;
  padding: 4rem 0rem 2rem 0;
}

.btn {
  margin-top: 3rem;
  display: grid;
  place-content: center;
  height: 4rem;
  width: 12rem;
  background-color: white;

  border-radius: 2rem;
}

.btn div {
  color: #ff6161;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.btn div:hover {
  color: black;
}

.email {
  font-size: 1.5rem;
  font-weight: 600;
}

.my-photo {
  grid-area: photo;
  background: url("vt-2.JPG") no-repeat center;
  background-size: cover;
  /* height: 100%;
  width: 100%; */
}

.midimg {
  height: 60vh;
  width: 100vw;
  background: url("mid-1.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.college-sec {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 8fr 3fr;
  grid-template-rows: 3fr 6fr;
  grid-template-areas:
    "college-d college-d"
    "party-p z2";
}

.college {
  grid-area: college-d;
  height: 100%;
  width: 100vw;
  background-color: #006daa;
  display: flex;
  flex-direction: row;
}

.college-l {
  color: white;
  font-size: 4.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  display: grid;
  place-content: center;
  text-align: center;
  width: 35rem;
  padding: 2rem 3rem;
}

.line2 {
  height: 18rem;
  width: 0.15rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: auto 3rem;
}

.college-d span {
  color: white;
  font-size: 2.5rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  display: grid;
  place-content: center;
  text-align: center;
  padding: 2rem;
}

.college-d p {
  color: white;
  font-size: 1.5rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  display: grid;
  place-content: center;
  text-align: center;
  padding: 5rem 3rem;
}

.party-p {
  grid-area: party-p;
  background: url("party.jpg") no-repeat center;
  background-size: cover;
}

.z2 {
  grid-area: z2;
  background-color: black;
  display: grid;
  place-content: center;
}

.z2 span {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18rem;
  font-weight: 800;
}

.memories-sec {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 2.5fr 6fr;
  grid-template-rows: 2fr 6fr;
  grid-template-areas:
    "z3 memories"
    "z3 photo-c";
}

.z3 {
  grid-area: z3;
  background-color: black;
  display: grid;
  place-content: center;
}

.z3 span {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20rem;
  font-weight: 800;
}

.memories {
  background-color: #b11b5a;
  color: white;
  font-size: 10rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  display: grid;
  place-content: center;
  position: relative;
}

.btn-1 {
  position: absolute;
  right: 20%;
  bottom: 6%;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #b11b5a;
  padding: 1% 3%;
  border-radius: 2rem;
}

.btn-1:hover {
  color: black;
}

.photos-collage {
  grid-area: photo-c;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 3fr;
  grid-template-rows: 2fr 3fr;
  grid-template-areas:
    "photo-1 photo-2"
    "photo-1 photo-3";
}

.photo-1 {
  grid-area: photo-1;
  background: url("moments-2.jpg") no-repeat center;
  background-size: cover;
  /* height: 100%;
  width: 100%; */
}

.photo-2 {
  grid-area: photo-2;
  background: url("vt-5.jpg") no-repeat center;
  background-size: cover;
}

.photo-3 {
  grid-area: photo-3;
  background: url("vt-3.JPG") no-repeat center;
  background-size: cover;
}

.contact-sec {
  height: 80vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "quote"
    "contact";
}

.quote {
  grid-area: quote;
  height: 100%;
  width: 100vw;
  background-color: #e8e8e8;
  display: grid;
  place-content: center;
}

.quote blockquote {
  font-family: "Quicksand", sans-serif;
  font-size: 8rem;
  font-weight: 800;
}

.quote cite {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 900;
  margin: 2rem 5rem 2rem auto;
}

.contact {
  grid-area: contact;
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: 7fr 2fr;
  grid-template-areas: "contact-d z4";
}

.contact-d {
  grid-area: contact-d;
  background-color: #16222d;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "follow contact";
}

.follow {
  grid-area: follow;
  padding: 3rem;
}

.follow h1 {
  font-size: 4rem;
  font-family: "Quicksand", sans-serif;
}

.fonts {
  padding: 3rem 2rem 0 0.5rem;
}

.contact-abt {
  grid-area: contact;
  padding: 3rem;
}

.contact-abt h1 {
  font-size: 4rem;
  font-family: "Quicksand", sans-serif;
}

.z4 {
  background-color: black;
  display: grid;
  place-content: center;
}

.z4 span {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 17rem;
  font-weight: 800;
}

.contact {
  height: 30vh;
  width: 100vw;
  background-color: #16222d;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "follow contact";
}

.contact-d {
  background-color: #16222d;
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "follow contact";
}

.follow {
  grid-area: follow;
  padding: 3rem;
}

.follow h1 {
  font-size: 4rem;
  font-family: "Quicksand", sans-serif;
}

.fonts {
  padding: 3rem 2rem 0 0.5rem;
}

.contact-abt {
  grid-area: contact;
  padding: 3rem;
}

.contact-abt h1 {
  font-size: 4rem;
  font-family: "Quicksand", sans-serif;
}

.black {
  color: black;
}

.black-bg {
  background-color: black;
}

.white {
  color: white;
}

.white-bg {
  background-color: white;
}

@media (max-width: 768px) {
  * {
    font-size: 5px;
  }

  .logo {
    font-size: 3.5rem;
  }

  .litems {
    font-size: 2.5rem;
  }

  .welcome {
    height: 60vh;
    width: 100%;
  }

  .close {
    font-size: 6rem;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 8fr 5fr;
    grid-template-areas:
      "abouth"
      "photo"
      "aboutd";
  }

  .z1,
  .z2,
  .z3,
  .z4,
  .college-l,
  .line2,
  .memories-sec {
    display: none;
  }

  .about-me {
    grid-area: abouth;
    display: grid;
    place-content: center;
    /* /* height: 100%; */
    width: 100vw;
  }

  .about-description {
    grid-area: aboutd;
    width: 100vw;
    padding: 5rem;
  }

  .about-description span {
    padding: 1.5rem 0 1rem 0;
  }

  .para {
    padding: 3rem 10rem;
  }

  .my-photo {
    grid-area: photo;
    width: 100vw;
  }

  .midimg {
    height: 20vh;
    background: url("mid-1.jpg") no-repeat center;
    background-size: cover;
  }

  .college-sec {
    height: 45vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 4fr;
    grid-template-areas:
      "college-d"
      "party-p";
  }

  .college {
    grid-area: college-d;
  }

  .contact-sec {
    height: 35vh;
    display: grid;
    grid-template-rows: 1fr 0.7fr;
    grid-template-areas:
      "quote"
      "contact";
  }

  .quote blockquote {
    font-size: 5rem;
  }

  .contact-d {
    width: 100vw;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  * {
    font-size: 8px;
  }

  .logo {
    font-size: 3.5rem;
  }

  .logo:hover {
    color: black;
  }

  .litems {
    font-size: 2.5rem;
  }

  .litems:hover {
    color: black;
  }

  .welcome {
    height: 60vh;
    width: 100%;
  }

  .close {
    font-size: 6rem;
  }

  .about {
    height: 200vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 8fr 4fr;
    grid-template-areas:
      "abouth"
      "photo"
      "aboutd";
  }

  .z1,
  .z2,
  .z3,
  .z4,
  .college-l,
  .line2,
  .memories-sec {
    display: none;
  }

  .about-me {
    grid-area: abouth;
    display: grid;
    place-content: center;
    /* /* height: 100%; */
    width: 100vw;
  }

  .about-description {
    grid-area: aboutd;
    width: 100vw;
    padding: 5rem;
  }

  .about-description span {
    padding: 1.5rem 0 1rem 0;
  }

  .para {
    padding: 3rem 10rem;
  }

  .btn:hover {
    color: black;
  }

  .my-photo {
    grid-area: photo;
    width: 100vw;
  }

  .midimg {
    height: 35vh;
    background: url("mid-1.jpg") no-repeat center;
    background-size: cover;
  }

  .college-sec {
    height: 55vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 6fr;
    grid-template-areas:
      "college-d"
      "party-p";
  }

  .college {
    font-size: 10rem;
    grid-area: college-d;
    padding: 4rem 0;
  }

  .contact-sec {
    height: 35vh;
    display: grid;
    grid-template-rows: 1fr 0.9fr;
    grid-template-areas:
      "quote"
      "contact";
  }

  .btn-1:hover {
    color: black;
  }

  .quote blockquote {
    font-size: 5rem;
  }

  .contact-d {
    width: 100vw;
  }
}

/*------------------------------- From here About page starts --------------------------------*/

.nav-abt {
  height: 5rem;
  width: 100%;
  background-color: #ffe1bf;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.about-abt {
  height: 94vh;
  width: 100vw;
  background-color: #ffe1bf;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "photo-abt desc-abt";
}

.my-photo-abt {
  grid-area: photo-abt;
  background: url("vt-1.jpeg") no-repeat center;
  background-size: contain;
  height: 70%;
  margin: 15% 0;
}
.my-description {
  grid-area: desc-abt;
  display: grid;
  place-content: start;
  margin: 15% 5% 0 0;
}

.my-description span {
  font-family: "Quicksand", sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  margin: 0 0 10% 0;
}

.my-description p {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 500;
}

.idk {
  height: 100vh;
  width: 100vw;
  background-color: #fc8479;
  padding: 10rem;
}

.traveller-h {
  font-size: 4.8rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  padding: 0 0 10rem 0;
  /* margin-top: 10rem; */
  /* margin-bottom: 8rem; */
}

.traveller-p-1 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* padding: 5rem 8rem; */
  padding: 0 0 5rem 0;
}

.traveller-p-2 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* padding: 5rem 8rem; */
}

.contact-sec-abt {
  height: 40vh;
  width: 100vw;
  background-color: #16222d;
}

@media (max-width: 768px) {
  * {
    font-size: 5px;
  }

  .logo {
    font-size: 3.5rem;
  }

  .litems {
    font-size: 2.5rem;
  }

  .welcome {
    height: 60vh;
    width: 100%;
  }

  .close {
    font-size: 6rem;
  }

  .about-abt {
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "photo-abt"
      "desc-abt";
  }

  .my-photo-abt {
    grid-area: photo-abt;
    height: 90%;
    margin: 15% 0 8% 0;
  }
  .my-description {
    grid-area: desc-abt;
    display: grid;
    place-content: center;
    text-align: center;
    padding: 0 5rem;
  }

  .idk {
    height: 60vh;
  }

  .contact-sec-abt {
    height: 20vh;
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  * {
    font-size: 8px;
  }

  .logo {
    font-size: 3.5rem;
  }

  .litems {
    font-size: 2.5rem;
  }

  .welcome {
    height: 60vh;
    width: 100%;
  }

  .close {
    font-size: 6rem;
  }

  .about-abt {
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "photo-abt"
      "desc-abt";
  }

  .my-photo-abt {
    grid-area: photo-abt;
    height: 90%;
    margin: 15% 0 8% 0;
  }
  .my-description {
    grid-area: desc-abt;
    display: grid;
    place-content: center;
    text-align: center;
    padding: 0 5rem;
  }

  .idk {
    height: 60vh;
  }

  .contact-sec-abt {
    height: 20vh;
  }
}
