@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Inconsolata&family=Monoton&family=Nunito&family=Nunito+Sans&family=Pacifico&family=Quicksand&family=Rubik&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
}

.container-1 {
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1.3fr;
  grid-template-rows: 7fr 1fr;
  grid-template-areas:
    "welcome carousel carousel carousel"
    "welcome sec-1 sec-2 sec-3";
}

.welcome {
  grid-area: welcome;
  background-color: #fff;
}

.navbar {
  background-color: black;
  height: 70px;
  width: 100%;
}
.bars {
  padding: 5%;
}

.welcomeh1 {
  margin-top: 150px;
  margin-left: 30px;
  font-family: Monoton, cursive;
  font-size: 50px;
  font-weight: 400;
}

.welcomeh3 {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  margin-left: 40px;
}

.para {
  font-family: "Nunito Sans", sans-serif;
  text-align: justify;
  margin: 50px 40px;
}

.caraousel {
  grid-area: carousel;
  background: url("dribbble8.png") no-repeat center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.sec-3 {
  background-color: #313131;
  position: relative;
}
#sec3heading {
  font-family: "Quicksand", monospace;
  color: #afafaf;
  position: absolute;
  top: 45%;
  left: 40%;
}

.sec-2 {
  background-color: #f4f4f4;
  position: relative;
}

#sec2heading {
  font-family: "Quicksand", monospace;
  color: #bebebe;
  position: absolute;
  top: 45%;
  left: 30%;
}

.sec-1 {
  position: relative;
  border: 1px solid #bebebe;
}

#sec1heading {
  font-family: "Quicksand", monospace;
  color: #8a8a8a;
  position: absolute;
  top: 45%;
  left: 30%;
}

.container-2 {
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1.5fr;
  grid-template-areas: "cards desc";
}

.description {
  grid-area: desc;
  background-color: #fef3e8;
  position: relative;
}

.desc-txt {
  font-family: "Quicksand", monospace;
  font-weight: bold;
  margin: 10% 10%;
}

.desc-txt-para {
  font-family: "Quicksand", monospace;
  margin: 10% 10%;
}

.cards {
  grid-area: cards;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2px;
  grid-template-areas: "card1 card2 card3";
  width: 100%;
  height: 100%;
}

.card-1 {
  grid-area: card1;
  background-color: #f4f4f4;
  background: url("agra.jpg") no-repeat;
  background-size: contain;
  height: 400px;
  margin: 10px 30px;
  margin-top: 50%;
  box-shadow: 0px 40px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2%;
}

.card-2 {
  grid-area: card2;
  background-color: #f4f4f4;
  background: url("ayodhya.jpg") no-repeat;
  background-size: contain;
  height: 400px;
  margin: 10px 30px;
  margin-top: 50%;
  box-shadow: 0px 40px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2%;
}

.card-3 {
  grid-area: card3;
  background-color: #f4f4f4;
  background: url("varanasi.jpg") no-repeat;
  background-size: contain;
  height: 400px;
  margin: 10px 30px;
  margin-top: 50%;
  box-shadow: 0px 40px 30px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2%;
}

.cityname {
  margin-top: 180px;
  margin-left: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: bold;
}

.footer {
  width: 100%;
  height: 250px;
  background-color: #171b1e;
}

#contactus {
  color: #c0c1c1;
  font-family: "Quicksand", monospace;
  font-weight: bold;
  padding: 5%;
  padding-bottom: 2%;
}

ul {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  list-style: none;
}

li {
  padding: 2%;
}
